@font-face {
  font-family: Dubai-light;
  src: url("fonts/Dubai-Light.ttf") format("woff");
}

@font-face {
  font-family: Dubai-medium;
  src: url("fonts/Dubai-Medium.ttf") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: Roboto;
  color: #eceff4;
  background: url("assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-bar {
  margin-top: 2.5rem;
  /* background-color: rgba(41, 46, 57, 0.75); */
}

.header-bar__logotext {
  margin-left: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem 0;
}

.header-bar__logotext span {
  font-family: Dubai-medium;
  font-size: 2.625rem;
  color: #d8dee9;
}

.header-bar__logotext span:nth-child(2) {
  font-family: Dubai-light;
  color: #bd6069;
}

main {
  width: 90%;
  max-width: 1340px;
  margin: 0 auto;
  /* border: 1px solid white; */
}

.main {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__name {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.81rem;
}

.main__aim {
  font-size: 4.18rem;
  font-weight: 500;
}

.main__description {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.93rem;
  font-weight: 400;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  /* border: 1px solid white; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-left {
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-left__globe {
  width: 56px;
}

.footer-left__globe img {
  width: 100%;
}

.footer-left__text {
  margin-left: 0.4rem;
  line-height: 1.4rem;
}

.footer-left__text__top {
  font-family: inherit;
  font-size: 1.81rem;
  color: #d8dee9;
}

.footer-left__text__bottom {
  font-family: inherit;
}

.footer-left__text__bottom span {
  font-size: 0.93rem;
}

.footer-left__text__bottom span:nth-child(1) {
  font-size: 1.1875rem;
}

.footer-left__text__bottom span:nth-child(3),
.footer-left__text__bottom span:nth-child(5) {
  color: #bce3de;
}

.footer-right__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-right__address {
  font-family: "Lato", sans-serif;
  font-size: 0.9375rem;
}

.footer-right__address span a {
  color: #bceff4;
  text-decoration: none;
}
