@font-face {
  font-family: Dubai;
  src: url("fonts/DubaiW23-Light.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: Dubai;
  src: url("fonts/DubaiW23-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background: #1f1f1f;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8.7rem 1fr auto auto;
  grid-template-rows: 8.7rem 1fr auto auto;
  grid-template-areas:
    "header"
    "main"
    "hr-bottom"
    "footer";
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  background: #141414;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: Dubai;
  font-size: 2.5rem;
  -webkit-box-shadow: 0 2px 5px rgb(134, 130, 130);
  box-shadow: 0 2px 5px rgb(134, 130, 130);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.header__logo span:nth-child(1) {
  font-weight: 500;
}

.header__logo span:nth-child(2) {
  font-weight: 200;
  color: wheat;
}

main {
  grid-area: main;
  margin: 0 auto;
  /* border: 1px solid white; */
  width: 40%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 7rem;
}

.main-content {
  font-family: Roboto;
  font-weight: 200;
}

.main-content__name {
  font-size: 1.5rem;
}

.main-content__role-description {
  max-width: 43.15rem;
}

.main-content__role {
  margin: 0;
  font-weight: bold;
  font-size: 2.9rem;
}

.main-content__role span {
  padding: 0;
}

.main-content__description {
  text-align: justify;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.bottom-rule {
  grid-area: hr-bottom;
  width: 98%;
}

footer {
  grid-area: footer;
  background: #1f1f1f;
  font-size: 0.75rem;
  width: 100%;
  font-family: Roboto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  /* border: 1px solid white; */
}

.footer__copyright {
  margin: 0.5rem;
  -ms-grid-column-align: center;
  justify-self: center;
}

.footer__address {
  -ms-grid-column-align: right;
  justify-self: right;
}

.footer__address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0;
  list-style: none;
}

.footer__address ul li {
  padding-top: 5px;
}

.footer__address ul li:nth-child(1) {
  padding-top: 0;
}

/* @media (min-width: 40rem) {
  main {
    background-position: left;
  }

  .main-logotext {
    top: 2.5rem;
    left: 5.6rem;
  }

  .main-content {
    top: 20rem;
    left: 22rem;
  }

  .main-content__role {
    font-size: 5rem;
    margin-top: 0.1rem;
  }

  .main-content__description {
    width: 100%;
  }

  .footer__address {
    align-items: flex-end;
    margin-right: 1rem;
  }
} */
