@font-face {
  font-family: Dubai-light;
  src: url("fonts/Dubai-Light.ttf") format("woff");
}

@font-face {
  font-family: Dubai-medium;
  src: url("fonts/Dubai-Medium.ttf") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 3.59rem auto fit-content(3rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: Roboto;
  color: #eceff4;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.header-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(41, 46, 57);
}

/* .header-bar {
  background-color: rgba(41, 46, 57, 0.75);
} */

.header-bar__logotext {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.1rem;
}

.header-bar__logotext span {
  font-family: Dubai-medium;
  font-size: 2.1rem;
  color: #d8dee9;
}

.header-bar__logotext span:nth-child(2) {
  font-family: Dubai-light;
  color: #bd6069;
}

main {
  grid-area: main;
  background: url("assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  width: 90%;
  padding: 0.5rem;
  max-width: 1340px;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__name {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.5rem;
}

.main__aim {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.main__description {
  margin-top: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.93rem;
  font-weight: 400;
}

footer {
  grid-area: footer;
  align-items: stretch;
  width: 100%;
  background-color: rgb(41, 46, 57);
  height: 100%;
}

.footer {
  /* border: 1px solid white; */
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-left {
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footer-left__globe {
  display: none;
}

.footer-left__globe img {
  width: 100%;
}

.footer-left__text {
  line-height: 1.4rem;
}

.footer-left__text__top {
  font-family: inherit;
  font-size: 1.81rem;
  color: #d8dee9;
}

.footer-left__text__top img {
  width: 1.35rem;
}

.footer-left__text__bottom {
  font-family: inherit;
}

.footer-left__text__bottom span {
  font-size: 0.8rem;
}

.footer-left__text__bottom span:nth-child(1) {
  font-size: 0.95rem;
}

.footer-left__text__bottom span:nth-child(3),
.footer-left__text__bottom span:nth-child(5) {
  color: #bce3de;
}

.footer-right__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

.footer-right__address {
  font-family: "Lato", sans-serif;
  font-size: 0.9375rem;
}

.footer-right__address span a {
  color: #bceff4;
  text-decoration: none;
}

@media (min-width: 59rem) {
  body {
    grid-template-rows: 5.75rem 80% 10%;
    overflow: hidden;
    background: url("assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    margin-top: 2.5rem;
  }

  .header-bar {
    background-color: rgba(0, 0, 0, 0);
  }

  .header-bar__logotext {
    margin-left: 4.5rem;
  }

  .header-bar__logotext span {
    font-size: 2.625rem;
  }

  main {
    background: rgba(0, 0, 0, 0);
    background-size: auto;
    background-position: 0%;
  }

  .main {
    margin-top: 8rem;
  }

  .main__name {
    font-size: 1.81rem;
  }

  .main__aim {
    text-align: start;
    margin-top: 0;
    font-size: 4.18rem;
  }

  .main__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer {
    background-color: rgba(0, 0, 0, 0);
  }

  .footer {
    width: 85%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-right__address {
    align-items: flex-end;
  }

  .footer-left__globe {
    display: inline;
    width: 56px;
  }

  .footer-left__text {
    margin-left: 0.4rem;
  }

  .footer-left__text__top img {
    display: none;
  }

  .footer-left__text__bottom span {
    font-size: 0.93rem;
  }

  .footer-left__text__bottom span:nth-child(1) {
    font-size: 1.1875rem;
  }
}
