@font-face {
  font-family: Dubai;
  src: url("fonts/DubaiW23-Light.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: Dubai;
  src: url("fonts/DubaiW23-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 200;
}

body {
  display: grid;
  grid-template-rows: 100vh auto;
  grid-template-areas:
    "main"
    "footer";
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
  background: url("finalmap1.png");
  background-size: cover;
  color: white;
}

.main-logotext {
  font-family: Dubai;
  font-size: 2.5rem;
  display: flex;
  position: absolute;
  top: 2.5rem;
  left: 5.6rem;
}

#mass {
  font-weight: 500;
}

#dynamics {
  font-weight: 200;
}

.main-content {
  font-family: Roboto;
  font-weight: 200;
  position: absolute;
  top: 20rem;
  left: 22rem;
}

.main-content__name {
  font-size: 1.5rem;
}

.main-content__role {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.main-content__description {
  margin-top: 4rem;
  width: 30.5rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}

footer {
  background: #f1f3f6;
  width: 100%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0.1rem;
  margin-right: 1rem;
  font-family: Roboto;
}

.footer__address > ul {
  list-style: none;
}

.footer__address > ul li {
  padding: 2px;
}

@media (max-width: 75rem) {
  .main-content {
    font-family: Roboto;
    font-weight: 200;
    position: absolute;
    top: 20rem;
    left: 10rem;
  }
}
